.recovered-files-page {
    display: none;
}

.recovered-files-page.render {
    display: block;
    width: 100%;
    cursor: default;
    overflow: auto;
}

.recovered-files-page .content-holder #loading-message {
    display: block;
    margin-top: 20px;
    font-size: 16px;
}

.recovered-files-page .content-holder #loading-message.non-active {
    display: none;
}