.report-page {
    display: none;
}

.report-page.render {
    display: block;
}

.report-page .conent-wrapper .report-container .percentages-graph-frame {
    width: 320px;
    height: 320px;
    margin: 20px auto;
    position: relative;
}